* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #AD94A9;
}
 header {
  height: 13vh;
  font-size: 8vh;
  padding: 1vh 0 0 0;
 }

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background: white;
  border-radius: 25px;
}

.artist {
  background-image: url("vids/tv.jpeg");
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: top;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid yellow 1px;
  color: white;
  border-radius: 25px;
}

.artist img {
  width: 45%;
  height: auto;
  border-radius: 36px;
  position: relative;
  left: -2.5%;
  top: 11%;
  opacity:0.6;
}

artist h2 {
  padding: 3rem 1rem 1rem 1rem;
}
.artist h3 {
  font-size: 1rem;
}

.music-player {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid red 1px;
}

.horiz-control {
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid blue 2px;
}

.time-control {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 2rem;
}

.time-control input {
  width: 100%;
}

.time-control p {
  padding: 1rem;
}

.play-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.play-control svg {
  cursor: pointer;
}

.volume-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  border: solid green 2px;
}

.vc-input {
  transform: rotate(270deg);
}

.mute svg {
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.bios {
  min-height: 60vh;
}