* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Fontdiner Swanky', cursive;
  border: solid 2px red;
}
 header {
  min-height: 13%;
  font-size: 40px;
  padding: 1% 0 0 0;
  border: solid 2px blue;
 }

.body {
  height: 87%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: solid 2px green;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  font-family: 'Lato', sans-serif;
}

.roster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 80%;
  height: 95%;
  border: solid aquamarine 10px;
  border-radius: 25px;

}

.selected {
  border: solid #F91C0C 5px;
  border-radius: 25px;
}

.roster-players {
  overflow-y: scroll;
}

.roster-players img {
  width: 30%;
  border-radius: 7px;
  margin: 6% 0% 0% 0%;
  cursor: pointer;
}

.roster-players :hover {
  background-color: aquamarine;
  border-radius: 25px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.artist {
  font-family: 'Fontdiner Swanky', cursive;
  background-image: url("vids/tv2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 95%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #F6830F 10px;
  border-radius: 25px;
}

.gifContainer {
  height: 80.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist img {
  width: 61%;
  height: auto;
  border-radius: 36px;
  position: relative;
  left: -2.4%;
  top: -0%;
}

.vid-text {
  /*position: absolute;*/
  width: 80%;
  /*top: 12%;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  /*height: 5.5%;*/
}

.vid-text h2 {
  /*height: 20%;*/
  font-size: 17px;
  text-shadow: 3px 3px white;
}

.vid-text h3 {
  /*height: 30%;*/
  font-size: 14px;
  text-shadow: 3px 3px white;
}

.vid-text p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  width: 100%;
}

.ghostBtn {
  cursor: pointer;
}

.vid-text p {
  cursor: pointer;
}

.artist h2 {
  padding: 3% 1% 1% 1%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  font-family: 'Lato', sans-serif;
}
.bios {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: hidden;
  border-radius: 25px;
  border: solid #A489A0 10px;
  margin: 0px 0px 20px 0px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 500px;
  margin: 10% 0% 0% 0%;
}

.music-player {
  height: 170px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid #F91C0C 10px;
  border-radius: 25px;;
}

.horiz-control {
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  border: solid blue 1px;
}

.time-control {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 65px;
  border: solid yellow 2px;
}

.time-control input {
  width: 100%;
  padding: 1% 0%;
}

.time-control p {
  padding: 1%;
}

.play-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 65px;
  border: solid 2px green
}

.play-control svg {
  cursor: pointer;
}

.volume-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border-radius: 25px;
  /*overflow: hidden;*/
  padding: 0;
  margin: 0;
  border: solid 2px orange;
}

.vc-input {
  display: flex;
  flex-direction: row;
  align-items: left;
  transform: rotate(270deg);
  width: 160%;
  height: 60px;
  padding: 0;
  margin: 0;
  border: solid 1px teal;
}
.vc-input input {
  width: 100%;
  align-items: right;
}

.mute {
  height: 30%;
}

.mute svg {
  cursor: pointer;
}



